<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Home</title>
	</head>
	<body>
		<h1>Gamified Marketing Home Page</h1>
		<h3>Daily questionnaire</h3>
		<p>Image: </p><img alt="productPhoto" th:src="*{'product:image/png;base64,'}"><br><br>
		<p>Name: <p th:text="${product.name}"></p><br><br>
		<form action="Questionnaire" method="POST">
			Questionnaire: <label id="questionnaire" th:text="${questionnaire}"></label>
			<input type="submit" value="Go to questionnaire" id="signUp" name="signUp">
		</form>
	</body>
</html>