<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Inspection view of the selected questionnaire</title>
	</head>
	<body>
		<h1>Inspection view of the selected questionnaire</h1>
		
		<p>List of users that submitted the questionnaire:</p>
		<table>
			<thead>
				<tr>
					<th>User ID</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<td th:text="${u.getID}"></td>
					<td th:text="${u.getUsername}"></td>
				</tr>
			</tbody>
		</table><br><br>
	</body>
</html>